{% extends "layout.html" %}
{% block head %}

{% endblock %}

{% block content %}

<h1>Relay status</h1>

<div class="row">
    <div class="col-md-12">
        Relay add.

        <form action="" method="post" name="relayadd">
              {{ form.hidden_tag() }}
              <p>
                  Namn:<br>
                  {{ form.relname(size=80) }}<br>
                  {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}<br>
              </p>
            <p>
                {{form.relbmcnr}} Language
            </p>
              <p>{{ form.relenable }} Enable ?</p>
              <p><input type="submit" value="Add"></p>
        </form>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        
    </div>
</div>


{% endblock %}
