{% extends "layout.html" %}
{% block head %}

{% endblock %}

{% block content %}

<h1>Relay status</h1>

<div class="row">
    <div class="col-md-12">
        Relay add.

        <form action="" method="post" name="relayadd">
            
            {{ form.hidden_tag() }}
            <p>
                Namn:<br>
                {{ form.relname(size=80) }}<br>
                {% for error in form.relname.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
            </p>
            <p>
                Info:<br>
                {{ form.relnameinfo(size=200) }}<br>
                {% for error in form.relnameinfo.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                  Enable ? {{ form.relenable }} 
            </p>
            <p>
                Shod this relay start as on whit system restarts ?
                {{ form.relstartason }} 
                {% for error in form.relstartason.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                Shod this relay start whit last value when system restarts ?
                {{ form.relstartaslastvalue }}
                {% for error in form.relstartaslastvalue.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>                                                        
            <p>
                Select a free port that relay is connected to ?
                {{form.relbmcnr}}
                {% for error in form.relbmcnr.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                Relay type ? 
                {{form.reltype}}
            </p>
            <p>
                <input type="submit" value="Add">
            </p>
        </form>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        
    </div>
</div>


{% endblock %}
