{% extends "layout.html" %}
{% block head %}
<meta http-equiv="refresh" content="5" />
{% endblock %}

{% block content %}

<h1>Sensors</h1>

<div class="row">
    <div class="col-md-12">
        Sensor data

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>value</th>
                        <th>Options</th>
                        
                    </tr>
                
                </thead>
                <tbody>
                    {% for key, value in sensdata.items() %}
                        <tr>
                            <td>{{value["id"]}}</td>
                            <td>{{value["name"]}}</td>

                           
                            <td>
                                {% if value["type"] == "onewireonboardds18b20" %}
                                    {{ value["typeData"].temp }}
                                {% else %}
                                    Data type error
                                {% endif %}
                            </td>
                            <td>
                                {% if value["isWorking"] %}
                                    sensor is working
                                {% else %}
                                    sensor is not working
                                {% endif %}

                                <!--<a href="/sensors/view?key={{accesskey}}&id={{value["id"]}}&page=/sensor" class="btn btn-info btn-xs" role="button">View</a>-->
                                <a href="/sensors/edit?key={{accesskey}}&id={{value["id"]}}&page=/sensors" class="btn btn-info btn-xs" role="button">Edit</a>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="col-md-1">
                    Id
                </div>
                <div class="col-md-2">
                    Name
                </div>
                <div class="col-md-2">
                    Info
                </div>
                <div class="col-md-2">
                    Data
                </div>
            </li>
            {% for key, value in sensdata.items() %}
            <li class="list-group-item">
                {{ value["id"] }} | {{ value["name"] }}  | {{ value["typeData"].temp }} | {{value["collectValueTimer"]}}
            </li>
        
            
                
            
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
          <table class="table">
            ...
          </table>
        </div>
    </div>
</div>


{% endblock %}
